aniso8601==8.0.0
astroid==2.5
attrs==20.3.0
cached-property==1.5.2
click==7.1.2
coverage==5.4
flake8==3.8.4
Flask==1.1.2
flask-restplus==0.13.0
importlib-metadata==2.0.0
iniconfig==1.1.1
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.7.1
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.2.2
pytest-cov==2.11.1
pytz==2020.4
six==1.15.0
toml==0.10.2
waitress==1.4.4
Werkzeug==0.16.1
wrapt==1.12.1
zipp==3.4.0
